@font-face {
    font-family: 'icons';
    src: url('fonts/icons.eot?1mrikz');
    src: url('fonts/icons.eot?1mrikz#iefix') format('embedded-opentype'),
        url('fonts/icons.ttf?1mrikz') format('truetype'),
        url('fonts/icons.woff?1mrikz') format('woff'),
        url('fonts/icons.svg?1mrikz#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-groupgroup2:before {
    content: "\e901";
    color: #afb1b8;
}

.icon-groupgroup:before {
    content: "\e902";
    color: #2196f3;
}

.icon-Unionunion2:before {
    content: "\e903";
    color: #afb1b8;
}

.icon-Unionunion:before {
    content: "\e904";
    color: #afb1b8;
}

.icon-linkedin-1linkedit:before {
    content: "\e900";
    color: #afb1b8;
}

.icon-Vectorfacebook:before {
    content: "\e905";
    color: #afb1b8;
}

.icon-Vectortwittter:before {
    content: "\e906";
    color: #afb1b8;
}

.icon-Vector-4:before {
    content: "\e907";
}

.icon-Vector-3:before {
    content: "\e908";
}

.icon-Vector-2:before {
    content: "\e909";
}

.icon-Vector-1:before {
    content: "\e90a";
}

.icon-Vector:before {
    content: "\e90b";
    color: #757575;
}

.icon-envelope:before {
    content: "\e90c";
    color: #757575;
}